<mat-card>
    <mat-card-content>
        <table class="user-table">
            <th>Name</th>
            <th>Lastname</th>
            <th>E-Mail</th>
            <th>Birth-Date</th>
            <tr *ngFor="let user of allUsers" [routerLink]="'/user/' + user.customIdName">
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.birthDate}}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
<button (click)=" openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user" [matTooltipPosition]="'above'">
    <mat-icon>add</mat-icon>
</button>